body {
    font-size: 16px;
    color: #000000;
    background-color: #ffdd60;
    font-family: 'Oxygen', sans-serif;
  }

#header-nav {
  background-color: #ff8e32;
  border-radius: 0;
  border: 0;
}
 
.navbar-brand {
  padding-top: 15px;
  padding-bottom: 15px;
}
  
.navbar-brand h1 { /* Restaurant name */
  color: black;
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
  
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #000000;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
  
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #000000;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

#main-content { width: 80%;}

section div  {
  height: 1000px;
  background-color: #ffa760;
}


